doctype html
html(lang="en")
  head
    title riot starter kit
  script(type='text/javascript' src='/js/app.min.js')
  link(href="/css/main.css" rel="stylesheet" type="text/css")
  body
    .container
      .row.main
        .col-sm-4 Riot
        .col-sm-4 Starter
        .col-sm-4 Kit
